@font-face {
  font-family: 'HsJandari';
  src: url('/fonts/HSJandari.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body,
button,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'HsJandari', sans-serif;
}