@font-face {
  font-family: 'HsJandari';
  src: url('/fonts/HSJandari.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body,
button,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'HsJandari', sans-serif;
  -webkit-overflow-scrolling: touch;
}

input,
button,
select,
textarea {
  font-size: 16px;
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }

  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}